<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Card</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<h1 style="text-align:center;">New Card</h1>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div>
                <h4>{{ message }}</h4>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<body>
    <form action="/card_insert" class="container" method="post">
        <div class="row">
            <div class="col-md-6">
                Code
                <input type="number" name="codecard" id="codecard" class="form-control">
                <br>
                Name
                <input type="text" name="namecard" id="namecard" class="form-control">
            </div>
        </div>
        <br>
        <div class="row col-xs-1">
            <button type="submit" class="btn btn-block btn-success">Submit</button>
        </div>
    </form>
    <br>
    <form action="/card_menu" class="container" method="get">
        <div class="row col-xs-1">
            <button type="submit" class="btn btn-block btn-warning">Cancel</button>
        </div>
    </form>
</body>
</html>