<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width-device width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie-edge">
    <title>Company</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>
<h1 style="text-align: center;>">Company</h1>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div>
                <h4>{{ message }}</h4>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Code Synd</th>
                        <th>Code Comp</th>
                        <th>Name Comp</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for comp in comps %}
                    <tr>
                        <td>{{ comp.codesynd }}</td>
                        <td>{{ comp.codecomp }}</td>
                        <td>{{ comp.namecomp }}</td>
                        <td>
                            <a href="/comp_edit/{{ comp.id }}">Edit</a> |
                            <a href="/comp_delete/{{ comp.id }}">Delete</a> |
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-xs-3">
            <button type="submit"><a href="/comp_insert">Insert</a></button>
            <button type="submit"><a href="/">Return</a></button>
        </div>
    </div>
</div>
</body>
</html>