<!DOCTYPE html>
<html lang="en">
<head>
  <title>Menu</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Logo</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Register
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/card_menu">Card</a>
        <a class="dropdown-item" href="/synd_menu">Syndicate</a>
        <a class="dropdown-item" href="/comp_menu">Company</a>
        <a class="dropdown-item" href="/search_pouch">Pouch</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/report">Report</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/dataanalysis">Data Analysis</a>
    </li>
  </ul>
</nav>
<br>
  
</body>
</html>
